<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% if data.title is defined %}
                {{  data.title  }}
            {%  else %}
                Welcome!
            {%  endif %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/BaconDoodle/Resources/public/css/BaconDoodle.css') }}" />
        {% endblock %}

        <!-- Fonts -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

        <link rel="icon" type="image/png" href="{{ asset('bundles/BaconDoodle/Resources/public/img/favicon.png') }}" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="nav">
                <div class="container">
                    <div class="row">
                        <span class="big-title col-md-8">Bacon<span class="doodle">Doodle!</span></span>

                        <div class="nav-menu col-md-4">
                            <div class="animate-fast"><a href="/">Home</a></div>
                            {%  if app.user  %}
                                <div class="animate-fast"><a href="/u/{{ app.user.username }}">Profile</a></div>
                                <div class="animate-fast"><a href="/logout">Logout</a></div>
                            {% else %}
                            <div class="animate-fast"><a href="/register">Signup</a></div>
                            <div class="animate-fast"><a href="/login">Login</a></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        {% block body %}{% endblock %}

            <div class="row row-centered footer">
                <a href="https://github.com/kershner/symfony_project/">
                    <div class="github col-md-1 col-centered animate-fast">
                        <i class="fa fa-github"></i>
                        <span>Source</span>
                    </div>
                </a>
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('bundles/BaconDoodle/Resources/public/js/jquery-2.1.4.min.js') }}" type="text/javascript"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
            <script src="{{ asset('bundles/BaconDoodle/Resources/public/js/jquery.color-2.1.2.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/BaconDoodle/Resources/public/js/jscolor/jscolor.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/BaconDoodle/Resources/public/js/colorWave.js') }}" type="text/javascript"></script>
            <script src="https://code.createjs.com/easeljs-0.8.1.min.js"></script>
            <script src="{{ asset('bundles/BaconDoodle/Resources/public/js/baconDoodle.js') }}" type="text/javascript"></script>
            {% if data.title == 'BaconDoodle!' %}
                <script type="text/javascript">
                    // Canvas init
                    init();
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
