<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% if data.title is defined %}
                {{  data.title  }}
            {%  else %}
                Welcome!
            {%  endif %}
        </title>

        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/BaconDoodle/Resources/public/css/BaconDoodle.css') }}" />
        {% endblock %}

        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/BaconDoodle/Resources/public/js/jquery-2.1.4.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/BaconDoodle/Resources/public/js/jquery.color-2.1.2.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/BaconDoodle/Resources/public/js/colorWave.js') }}" type="text/javascript"></script>
            <script src="https://code.createjs.com/easeljs-0.8.1.min.js"></script>
            <script src="{{ asset('bundles/BaconDoodle/Resources/public/js/BaconDoodle.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
