{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="title">Bacon<span class="doodle">Doodle!</span></div>

        <div class="bacon-img">
            <canvas id="bacon-canvas"></canvas>
            <div class="clear-canvas">Clear</div>

            <div class="controls hidden">
                <div class="inner-title left">Controls</div>

                <input class="color">
                <div id="color-icon" class="control-icon">
                    <img src="{{  asset('bundles/BaconDoodle/Resources/public/img/palette.png') }}">
                </div>

                <select class="stroke-size">
                    <option value="1">Small</option>
                    <option value="5">Medium</option>
                    <option value="10">Large</option>
                </select>

                <div id="stroke-size-icon" class="control-icon">
                    <i class="fa fa-paint-brush"></i>
                </div>

                <div class="choose-background">
                    <i class="fa fa-long-arrow-left background-prev"></i>
                    <span>Background</span>
                    <i class="fa fa-long-arrow-right background-next"></i>
                </div>
            </div>
        </div>

        <div class="new-doodle">New Doodle</div>

        <div class="doodle-form hidden">
            <div class="inner-title right">Save Doodle</div>

            {{  form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.author) }}
            {{ form_row(form.title) }}
            {{  form_end(form) }}
        </div>

        <div class="doodles">
            <div id="prev-doodles" class="inner-title left">All Doodles</div>

            {% for entry in data.entries %}
                <div class="entry">
                    <div class="doodle-id">{{ entry.id }}</div>
                    <div class="doodle-pic"><img src="{{ entry.data }}"></div>
                    <div class="entry-title">{{ entry.title }}</div>
                    <div class="author-date">
                        <div class="author">{{ entry.author }}</div>
                        <div class="created">{{ entry.created|date("m/d/Y") }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}