{% extends 'base.html.twig' %}
{% block body %}
<div class="form-wrapper row row-centered">
    <form class="col-md-12 col-centered login-form">
        <div class="form-title">Sign up!</div>
    {{ form_start(form) }}
        <div class="form-group">
        {{ form_row(form.username) }}
        </div>

        <div class="form-group">
        {{ form_row(form.email) }}
        </div>

        <div class="form-group">
        {{ form_row(form.plainPassword.first) }}
        </div>

        <div class="form-group">
        {{ form_row(form.plainPassword.second) }}
        </div>

        <button type="submit" class="animate-fast">Register!</button>
    {{ form_end(form) }}
    </form>
</div>

{% endblock %}